<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body style="margin: 0; padding: 0; background-color: rgb(201, 201, 201)">
    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td style="padding: 35px">
          <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td align="center">
                <img
                  src="https://ci3.googleusercontent.com/meips/ADKq_Nb2_GZzfanqh8kyD9mYB2OhtPFHiVKvcyfXudf5vhzVJFDE42M2in7Sr4XrwRaqYgpxvMGAoIH4JM4sC8A8pBNRLopul_QZMYudUVMW9sueeWYNSeLWAz3OHCVXUV9z2z-SPG1DgjKFsxQsvPGiqbnJN8hqjEoAJJVWupg8K4VE5XQyYXfH1x4rhoMyxKGjbbHsdlDwye4DIhfw3BOeNxFp7hw9lJ5NA6N2T8mkxRoULbd91PKyqEdQ6DLu33ysbg=s0-d-e1-ft#https://api.logo.com/api/v2/images?logo=logo_079ef799-da40-4af2-a1be-7edeba11e624&u=2024-03-19T14%3A34%3A56.662Z&width=1500&height=1125&margins=300&quality=80&format=png"
                  alt="Logo"
                  style="max-height: 100px; border-radius: 12px"
                />
              </td>
            </tr>
            <tr>
              <td align="center" style="text-align: left; padding-top: 20px">
                <h4>{{content}}</h4>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding-top: 20px">
                <a
                  href="{{link}}"
                  style="
                    background-color: dodgerblue;
                    padding: 8px 20px;
                    border-radius: 8px;
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: 500;
                  "
                  >{{linkTitle}}</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
